spring:
  application:
    name: quiz-service
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5433/quiz_db
    username: postgres
    password: 999Rra12
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  port: 8081

#eureka:
#  client:
#    service-url:
#      defaultZone: http://localhost:8761/eureka/